name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          activate-environment: true
          python-version: 3.13

      - name: Install nox
        run: |
          uv sync --frozen --only-group nox

      - name: Audit
        if: always() && !cancelled()
        run: |
          nox -s audit

      - name: Mypy
        if: always() && !cancelled()
        run: |
          nox -s mypy

      - name: Pyright
        if: always() && !cancelled()
        run: |
          nox -s pyright

      - name: Ruff
        if: always() && !cancelled()
        run: |
          nox -s ruff

      - name: Codespell
        if: always() && !cancelled()
        run: |
          nox -s codespell

      - name: Check trailing whitespaces
        if: always() && !cancelled()
        run: |
          nox -s check-trailing-whitespaces
